@model IEnumerable<project.Models.taken_courses>

@{
    ViewBag.Title = "ViewTaken";
}

<h2>ViewTaken</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.result)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.semester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.section)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.course.course_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.student_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.result)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.semester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.section)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.course.course_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.student_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
